.form-login{
    width: 700px;
    // background: #F0F1F1;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
padding-bottom: 40px;
padding-left: 100px;
padding-right: 100px;

}

.border-bottom{
    border-bottom: 1px solid #3c3c3c;
}
.section-login{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.background-login{
    background: #F0F1F1;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
}

.button-login{
    left: unset;
}