.buttons-whowehelp{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.button-whowehelp{
    font-size: 24px;
    color: #3C3C3C;
    height: 80px;
    width: 200px;
}



.borders{
    border: 0.75px solid #3C3C3C;}

.whowehelp-header{
    font-size: 22px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #3C3C3C;
    text-align: center;
}

.cont-whowehelp{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.firstinfo{
    font-weight: 300;
    font-size: 26px;
    
    margin-bottom: 0;
}

.secondinfo{
    margin-top: 0;
    color: #3C3C3C;
    font-size: 18px;
}

.lastinfo{
    text-align: right;
}